[Game Info]

Current Turn: '
Robots Left: '

[Robot Stats]

Robot Name: '
Robot Type: '
Kills to Next Evolution: '
Looking Range: '
Moving Range: '
Can Trample: '
Firing Range: '

[Action]

'

[Board]

'